*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #333;
}
header {
    width: 100%;
    height: 75px;
    background: #777;
    border: 2px solid #555;  
}
main {
    width: 100%;
    height: 700px;
}
    #leftMain {
        width: 50%;
        height: 400px;
        background: #ccc;
        float: left;
        border-right: 2px solid #555;
    }
        .mainKeyboard {
            width: 100%;
            height: 100%;
        }
    #rightMain {
        width: 50%;
        height: 400px;
        background: #ccc;
        float: left;
    }
        #rightMain > h4 {
            margin: 0 auto;
        }
        #leftHalf {
            width: 50%;
            height: 400px;
            float: left;
        }
            #leftHalf > h5 {
                margin: 5px 10px;
            }
        #rightHalf {
            width: 50%;
            height: 400px;
            float: left;
        }
    #bottomLeftMain {
        width: 50%;
        height: 300px;
        background: #333;
        border-top: 2px solid #555;
        border-right: 2px solid #555;
        float: left;
        overflow-x: scroll;
        text-align: center;
    }
        .keyboard {
            width: 90%;
            height: 90%;
            border: 2px solid #fff;
            border-radius: 8px;
            margin: 30px;
        }
    #bottomRightMain {
        width: 50%;
        height: 300px;
        background: #ccc;
        float: left;
    }
footer {
    width: 100%;
    height: 50px;
    background: #777;
    border: 2px solid #555;
    text-align: center;
    font-size: .9rem;
    font-style: italic;
}